<p>Witaj w CardCheckerze!</p>
<p>Ta aplikacja pozwoli Ci sprawdzić autentyzność Twojej karty, oraz czy należy ona do jednej z trzech sieci:
<ul>
    <li>American Express</li>
    <li>MasterCard</li>
    <li>Visa</li>
</ul>
<p>Test oparty jest o algorytm Luhna i przeprowadzony przez funkcje napisane w Pythonie.
    Ta aplikacja oparta jest na następującej technologii:</p>
<ul class="no-bullets">
    <li><i class="fas fa-flask"></i> Flask</li>
    <li><i class="fab fa-python"></i> Python</li>
    <li><i class="fab fa-js-square"></i> JavaScript</li>
</ul>
</p>
<p class="warning">
    Uwaga! Nie zaleca się używania autentycznych numerów własnych kart ze względu na to, że skrypty użyte tutaj NIE SĄ
    ZABEZPIECZONE! Proszę użyć zamieszczonych poniżej numerów testowych lub numerów zmyślonych:
<ul>
    <li>378282246310005 (American Express)</li>
    <li>371449635398431 (AMerican Express)</li>
    <li>5555555555554444 (MasterCard)</li>
    <li>5105105105105100 (MasterCard)</li>
    <li>4111111111111111 (Visa)</li>
    <li>4012888888881881 (Visa)</li>
    <li>1234567890 (zły numer)</li>
</ul>
</p>