<p>Welcome to the CardChecker!</p>
    <p>This app allows you to check if your card is not fake and if it is one of the following:
        <ul>
            <li>American Express</li>
                <li>MasterCard</li>
                <li>Visa</li>
        </ul>
            <p>The test is based on Luhn's algorithm and the whole operation is conducted in backend, in Python. 
            The app has been built with a use of the following technologies:</p>
            <ul class="no-bullets">
                <li><i class="fas fa-flask"></i> Flask</li>
                <li><i class="fab fa-python"></i> Python</li>
                <li><i class="fab fa-js-square"></i> JavaScript</li>
            </ul>
            </p>
            <p class="warning">
                Warning! It is strongly reccomended that you do not use your real card number for this app, since the scripts used here ARE NOT SECURE! Please use the testing numbers instead:
                <ul>
                    <li>378282246310005 (American Express)</li>
                    <li>371449635398431 (AMerican Express)</li>
                    <li>5555555555554444 (MasterCard)</li>
                    <li>5105105105105100 (MasterCard)</li>
                    <li>4111111111111111 (Visa)</li>
                    <li>4012888888881881 (Visa)</li>
                    <li>1234567890 (Invalid)</li>
                </ul>
            </p>